@import "tailwindcss";
@import "tw-animate-css";

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    color: var(--accent-foreground);
    @apply text-2xl;
    @apply mb-1;
    @apply font-bold;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    @apply mt-5;
}

.prose table {
    @apply table w-full border-collapse my-4 text-left;
}

.prose th {
    @apply border border-gray-300 px-4 py-2 bg-gray-100 font-semibold;
}

.prose td {
    @apply border border-gray-300 px-4 py-2;
}