@import "tailwindcss";
@import "tw-animate-css";

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    color: var(--accent-foreground);
    @apply text-2xl;
    @apply mb-1;
    @apply font-bold;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    @apply mt-5;
}

.prose table {
    @apply table w-full border-collapse my-4 text-left;
}

.prose tr:nth-child(even) {
    background-color: var(--primary-foreground);
}

.prose th {
    @apply border border-gray-500 px-4 py-2 font-semibold;
    background-color: var(--primary-foreground);
}

.prose td {
    @apply border border-gray-500 px-4 py-2;
}

.prose a {
    @apply text-fuchsia-500 hover:text-pink-400 underline;
}

.prose .astro-code {
    border-radius: 3px;
    @apply px-3 py-1 my-1 rounded-md;
}