---
import '../styles/global.css';
import Main from "../layouts/main.astro";
// Component Imports
import {Button} from "@/components/ui/button"
import TeamAvatars from "@/components/TeamAvatars.vue";
import TeamMemberCard from "@/components/TeamMemberCard.vue";
import {ExternalLinkIcon} from "lucide-vue-next";

const teamMembers: Array<TeamMemberExtended> = [{
    username: "MineKID-LP",
    fallback: "Mλx",
    role: "Manager & Mod Developer",
    description: "Certified crackhead java dev with weaponized stupidity"
}, {
    username: "YannickMyxe",
    fallback: "Yan",
    role: "Full-stack Developer",
    description: "Creator of this page"
}, {
    username: "Gameboys360",
    fallback: "GB",
    role: "Artist",
    description: "Our new Artist and art-crime preventer"
},
];
---

<Main title="Lunala studio's">
    <div class="max-w-5xl mx-auto">
        <div class="grid place-items-center">
        <h1 class="text-5xl text-accent-foreground mt-10 mb-5">Lunala Studio's</h1>
        <p class="max-w-3/5">Welcome to the Lunala Studio's home page. We are a small group of developers dedicated to creating software including minecraft mods.</p>
        <Button variant="secondary" class="my-5">
            <a href="https://github.com/lunala-xyz" target="_blank">Check our projects on github!</a>
            <ExternalLinkIcon />
        </Button>
        </div>
        <h2 class="text-2xl">Meet the team</h2>
        <p class="mb-3 text-primary/75">Meet our team members, click on their profile pictures to go to their github account.</p>
        {teamMembers.map(member => (
            <TeamMemberCard member={member} client:load class="mb-5" />
        ))}
    </div>
</Main>

