---
import '../styles/global.css';
// Component Imports
import {Button} from "@/components/ui/button"
import Main from "../layouts/main.astro";
---

<Main title="Lunala">
    <div class="grid place-items-center content-center">
        <h1 class="text-5xl text-accent-foreground my-5">Lunala Studio's</h1>
        <p class="max-w-3/5">Welcome to the Lunala Studio's home page. We are a small group of developers dedicated to creating software including minecraft mods.</p>
        <Button class="my-5">Shadcn Button in Astro!</Button>
    </div>
</Main>

