---
import '../styles/global.css';
// Component Imports
import {Button} from "@/components/ui/button"
import Main from "../layouts/main.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Main title="Lunala">
    <div class="grid place-items-center content-center">
        <h1 class="text-5xl text-accent-foreground mb-3">Lunala</h1>
        <Button>Shadcn Button in Astro!</Button>
    </div>
</Main>

