---
// Component Imports
import {Button} from "@/components/ui/button"
import Main from "../layouts/main.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Main title="Lunala">
    <div class="grid place-items-center h-screen content-center">
        <Button>Shadcn Button in Astro!</Button>
    </div>
</Main>

