---
import {getCollection, render} from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const project = await getCollection('project');
    return project.map(post => ({
        params: {id: post.id},
        props: {post},
    }));
}
// 2. For your template, you can get the entry directly from the prop
const {post: project} = Astro.props;
const {Content} = await render(project);

import Main from "@/layouts/main.astro";
import {Button} from "@/components/ui/button";
---
<Main title={project.id}>
    <Button variant="outline" class="m-5"><a href="../projects">Back to project overview</a></Button>
    <div class="max-w-lg mx-auto">
        <Content/>
    </div>
</Main>
