---
import Main from "@/layouts/main.astro";
import {getCollection} from 'astro:content';
import ProjectCard from "@/components/ProjectCard.astro";

const projects = await getCollection('project');
---

<Main title="Projects Overview">
    <div class="max-w-5xl mx-auto">
        <h1 class="text-3xl text-accent-foreground my-5">Project Overview</h1>
        <div class="grid grid-cols-2 gap-4">
            {projects.map(project => (
                    <ProjectCard project={project}/>
            ))}
        </div>
    </div>
</Main>