---
import Main from "@/layouts/main.astro";
import { getCollection, getEntry } from 'astro:content';
const allBlogPosts = await getCollection('blog');
---

<Main title="Projects Overview">
    <h1 class="text-3xl text-accent-foreground">Project Overview</h1>
    <ul>
        {allBlogPosts.map(post => (
                <li><a href={`/projects/${post.id}`}>{post.data.title}</a></li>
        ))}
    </ul>
</Main>
