---
import Main from "@/layouts/main.astro";
import {getCollection} from 'astro:content';
const projects = await getCollection('project');
---

<Main title="Projects Overview" >
    <div class="max-w-xl mx-auto">
        <h1 class="text-3xl text-accent-foreground my-5">Project Overview</h1>
        <ul>
            {projects.map(project => (
                    <li class="text-accent-foreground"><a href={`/projects/${project.id}`} class="underline text-lg">{project.data.title}</a></li>
            ))}
        </ul>
    </div>
</Main>